
#navLogo {
	width: 138px;
    padding-top: 18px;
    padding-bottom: 9px;
}

.navbar {
	background: #f5dcbe;
	border-bottom: 5px solid #3e1911;
	border-left: none;
	border-top: none;
	border-right: none;
	margin-bottom: 92px;
}

.navbar-nav {
	text-shadow: 3px 3px black;
	font-family: 'Holtwood One SC', serif;
	font-size: 24px;
    margin-top: 67px;
    margin-right: 11px;

}
.navbar-inverse .navbar-nav>li>a{
	color: white;
}